.start-container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    .start {
        animation: fade 0.5s;

        @keyframes fade {
            0% {
                transform: translateX(-150px);
                opacity: 0%;
            }

            100% {
                transform: translateX(0);
                opacity: 100%;
            }
        }

        a {
            font-size: 20em;
            color: var(--enigmaPurple);
            text-decoration: none;
            transition: all 0.3s ease-in-out;

            &:visited {
                color: var(--enigmaPurple);
            }

            &:hover {
                color: #e29afe;
            }
        }
    }
}
